#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.k-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.k-logo {
  font-weight: 800;
}

.k-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.k-link {
  text-decoration: none;
}

.k-link-active {
  text-decoration: underline;
}

.k-main {
  padding: 1rem;
}

.k-footer {
  text-align: center;
  padding: 2rem;
  opacity: .7;
}